body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #15202a;
    color: #ffffff;
}

html{
    height:100%;
    width: 100%;
}

.content {
    margin-top: 50px;
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    margin:15px;
    height: 100px;
    padding: 20px;
}

.form_block {
    width: 60%;
    margin: 0 auto;
}

nav .navbar-brand {
    padding: 15px;
    color: #ffffff;
}

.tweet {
    margin: 50px auto;
    padding: 25px;
    background: #15202a;
    border: 1px solid #38434d;
}

.user {
    font-size: 1.75rem;
}

.user a{
    color: #8495a3;
}

.tweet_text {
    font-size: 1.25rem;
    margin-top: 25px;
}




